version: '2'

services:
  app:
    image: node:10
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
    environment:
      PORT: 3000
      MONGODB_URI: mongodb://root:password123@mongo/icu-dev?authSource=admin
      ELASTICSEARCH_IP: elasticsearch:9200
      ROOT_LANG: en
      FTP_IP: ftp
      FTP_USER_NAME: admin
      FTP_USER_PASS: admin
      ROOT_ADMINS: a@linnovate.net
    ports:
      - 3000:3000
      - 9229:9229
    command: npm start
    user: node
    depends_on:
      - mongo
      - elasticsearch
      - ftp

  mongo:
    image: bitnami/mongodb:4.0
    environment:
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_ADVERTISED_HOSTNAME: mongo
      MONGODB_ROOT_PASSWORD: password123
      MONGODB_REPLICA_SET_KEY: replicasetkey123
    volumes:
      - mongodata:/bitnami
    ports:
      - 27017:27017

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.8.4
    environment:
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      cluster.routing.allocation.disk.watermark.flood_stage: 99%
      cluster.routing.allocation.disk.watermark.high: 99%
      cluster.routing.allocation.disk.watermark.low: 95%
    ports:
      - 9200:9200
    volumes:
      - esdata:/usr/share/elasticsearch/data
    mem_limit: 512m

  ftp:
    image: stilliard/pure-ftpd
    ports:
      - 21:21
      - 30000-30009:30000-30009
    volumes:
      - ftpdata:/home/admin
    environment:
      PUBLICHOST: ftp
      FTP_USER_NAME: admin
      FTP_USER_PASS: admin
      FTP_USER_HOME: /home/admin
    restart: always

volumes:
  mongodata:
  esdata:
    driver: local
  ftpdata:
