.header {
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 12px 16px;
  background-color: orange;

  .logo {
    margin: 0 auto;
    max-height: 37px;
    max-width: 122px;
    text-align: center;
  }
  .logoCancele {
    margin: 0 auto;
    max-height: 37px;
    max-width: 122px;
    text-align: center;
    color: #b50300;
  }
}

.Canceled {
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 12px 16px;
  background-color: #FCFBF6;
  color: #b50300;
}

.title {
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 12px 16px;
  background-color: #FCFBF6;
}

.image {
  appearance: none;
  border: none;
  height: calc(30px * 2);
  border-radius: 30px;
  width: calc(30px * 2);
  background-color: #b8e77f;
  width: 45px;
  height: 44px;
  margin: 0 7.5px;
}
